# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
instance/
*.db
*.sqlite

# Environment variables
.env
.env.*

# Virtual environment
.venv/
venv/
ENV/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
